<div style="width: 200px;">
    <max-tabs #tabs [scrollBars]="true">
        <max-tab head="first" active="true">
            Welcome to max Tabs 😀
        </max-tab>
        <max-tab head="second">
            Welcome to max Tabs 😎
        </max-tab>
        <max-tab head="Third">
            Welcome to max Tabs 😎😎
        </max-tab>
        <max-tab head="Fourth">
            Welcome to max Tabs 😎😎😎
        </max-tab>
        <max-tab head="Fifth">
            Welcome to max Tabs 😎😎😎😎
        </max-tab>
        <max-tab head="Sixth">
            Welcome to max Tabs 😎😎😎😎😎
        </max-tab>
        <max-tab head="Seventh">
            Welcome to max Tabs 😎😎😎
        </max-tab>
    </max-tabs>
</div>

<br>

<button (click)="top()">top</button>
<button (click)="left()">left</button>